<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Create Account</title>

    <link rel="stylesheet" th:href="@{/css/register.css}">

</head>
<body>

<form action="" class="form-register" method="post">
    <h1>Create Your Account</h1>
    <div>
        Username: <input th:field="${user.username}" type="text"/>
    </div>
    <div>
        Password: <input th:field="${user.password}" type="password"/>
    </div>
    <div>
        Full Name: <input th:field="${user.name}" type="text"/>
    </div>
    <div>
        <input type="submit" value="Create Account"/>
        <hr/>
        <button onclick="window.location.href='/users'" type="button">Back</button>
    </div>
</form>
</body>
</html>